pkg
.gopath
.idea
*.iml
logs
*.pprof
*.output
*.data
*.sw[ap]
*.yml
tags
result.db.*
*.tar.gz

dump.data
runtime.trace

bin/redis-full-check

.DS_Store

data

.cache/
diagnostic/
*.pid
src/vendor/*
!src/vendor/vendor.json
